# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Exlude any .vs directory
.vs/

## Exclude any out directory
out/
build/


# Executables
*.exe
*.out
*.app
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/ffd11d618e8a0893/TILE.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/fbd9be6973cc0ad3/MAIN.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/fba611e9cd2c832d/TRANSFORMCOMPONENT.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/f80ca202ff7a50e7/MAIN.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/f040b3de18fca8a7/TRANSFORMCOMPONENT.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/e636cde79f5f145c/TRANSFORMCOMPONENT.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/dcd3875eb0d9fb5b/GRPAHICSCOMPONENT.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/dc2f316edd823d27/CONTEXT.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/db2c6df4cecb84b7/ENTITY.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/da8997964e7f86ae/MAP.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/d694cbe905e1801c/CLASS4.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/cf00a0753f04908c/GRAPHICCOMPONENT.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/c90d5bb80d9747b/ENTITY.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/c8bc38dd72986a6c/GHOST.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/bf3b49c6afd5dca4/GRAPHICSCOMPONENT.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/bcde665bd71286b3/TRANSFORMABLE.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/b7621e52a5777932/GRAPHICCOMPONENT.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/b69e50c67f99a3bd/MAIN.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/ad94e74c9dee4a11/MAIN.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/a994dec100acdf66/MAIN.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/a82921925fa1a756/TEXTURE.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/a31282dc466046c3/MAIN.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/a02b95b95518065a/SCENE.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/9e7f4de303ebcd97/GRAPHICSCOMPONENT.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/9e72bc9b135fd5e1/MAP.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/9c0989f77018daff/MAIN.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/9b8977f232837154/CLIPBOARD.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/95f6b2d4bb91716e/SCENE.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/902f6705ded54189/ENTITY.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/8b0a0bbe3cff5f35/GRAPHICSCOMPONENT.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/8725e97f5f099e58/ENTITY.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/83cf2da8205b4f27/VCTMP27752_368042.MAIN.00000000.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/80ef31bc02e6f787/SCENE.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/7dfe8ce32d3e5c11/GRAPHICSCOMPONENT.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/6d4c04cb6ded97e/TILE.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/6413d6a39317f80a/SHAPE.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/5e24bd7772e96620/ENTITY.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/55e6030e8124257a/MAIN.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/5566ef54701706c6/GRAPHICSCOMPONENT.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/48f7b313532efc4c/GLCONTEXT.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/4720551ddbb7e5c7/MAIN.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/44f0017caa2321b9/SCENE.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/392cd5916b88fd85/CONTEXT.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/37f4fa431508e54e/TRANSFORMCOMPONENT.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/3625d31738b66235/KEYBOARD.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/2ffe51a760a13105/MAIN.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/2b72943ed0dcf662/GLCONTEXT.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/238454896b063b43/TRANSFORMCOMPONENT.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/1d03fdc4eda230da/CLIPBOARD.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/1800590e142b8e02/ENTITY.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/126d952afa7934a0/MAP.ipch
PacMan_Project/.vs/PacMan_Project/v17/ipch/AutoPCH/118a673a74b86a57/RECTANGLESHAPE.ipch
